@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding: 120px 0;
  }

  .site-nav {
    display: flex;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .header-mail,
  .header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .site-contacts {
    display: flex;
    margin-left: auto;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .page-header {
    border-bottom: 1px solid rgba(231, 233, 252, 1);
  }

  .hero-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    max-width: 320px;
    margin: 0 auto 48px;
  }

  .modal {
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 408px;
    height: 576px;
    padding: 72px 24px 24px 24px;
    overflow: auto;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-title {
    font-size: 56px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    max-width: 496px;
    margin: 0 auto 48px;
  }

  .subject-name {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
  }

  .footer {
    background: var(--title-text-color);
    padding: 100px 0;
    width: 100%;
  }
  .footer-display {
    display: flex;
    margin-left: 156px;
  }
  .footer-form {
    margin-left: 80px;
    width: 453px;
  }
  .footer-container {
    margin-left: 120px;
    width: 208px;
  }

  * .mobile-menu-btn {
    display: none;
  }
}
