@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .site-nav {
    display: flex;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .site-contacts {
    display: flex;
    margin-left: auto;

    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    max-width: 496px;
    margin: 0 auto 48px;
  }
  .page-header {
    border-bottom: 1px solid rgba(231, 233, 252, 1);
  }
  .modal {
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 408px;
    height: 576px;
    padding: 72px 24px 24px 24px;
    overflow: auto;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team {
    gap: 64px 24px;
  }
  .team-section-item {
    margin-bottom: 64px;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .benefits-place {
    display: none;
  }
  .benefits {
    width: calc((100% - 24px) / 2);
  }
  .feature-title {
    text-align: start;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .section-third {
    display: none;
  }

  .footer-display {
    display: flex;
    margin-left: 156px;
  }
  /* .footer {
    display: flex;
    flex-direction: row;

    width: 100%;
  } */
  .footer {
    display: flex;
    flex-direction: start;
    max-width: 565px;
    width: 100%;
  }

  .subscribe-form {
    max-width: 453px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .button-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
  }
  .mobile-menu-btn {
    display: none;
  }
}
